<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">

    <!-- 公共=======================-->
    <link rel="stylesheet" type="text/css" href="../libs/iview/styles/iview.css"/>
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../libs/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../libs/admin-lte/css/AdminLTE.min.css"/>
    <link rel="stylesheet" type="text/css" href="../libs/admin-lte/css/skins/_all-skins.min.css"/>

    <link rel="stylesheet" type="text/css" href="../styles/css/gview.css"/>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="../libs/html5shiv/html5shiv.min.js"></script>
    <script type="text/javascript" src="../libs/respond.js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="../libs/fastclick/fastclick.min.js"></script>
    <script type="text/javascript" src="../libs/vue/vue.min.js"></script>
    <script type="text/javascript" src="../libs/iview/iview.min.js"></script>
    <script type="text/javascript" src="../libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../libs/admin-lte/js/adminlte.min.js"></script>
    <script type="text/javascript" src="../plugins/layer/layer.js"></script>
    <!-- 公共=======================-->

    <!-- gview-公共=======================-->
    <script type="text/javascript" src="../scripts/gviews/gview.config.js"></script>
    <script type="text/javascript" src="../scripts/gviews/gview.utils.js"></script>
    <script type="text/javascript" src="../scripts/gviews/gview.webapp.js"></script>
    <!-- gview-公共=======================-->


</head>

<body class="hold-transition lockscreen">

<div id="main-wrapper" v-cloak>
    <div class="lockscreen-wrapper gview-lockscreen-wrapper">

        <div class="box box-danger">
            <div class="box-body">
                <h3>没有系统权限</h3>
                <ol class="padding-left-20">
                    <li>检查并去除相关Host配置(域名：admincenter.game.yy.com)；</li>
                    <li>
                        步骤1无法解决，请联系黄蒙开通系统权限；
                        <ol class="padding-left-20">
                            <li>您可以到权限中心 <a href="http://gos.game.yy.com/gop/build/manage-create.html">http://gos.game.yy.com/gop/build/manage-create.html</a> 申请权限；</li>
                            <li>如有疑问请联系 黄蒙（YY：909015103,手机号：18680467408） 或 陈伟波（YY：909011974,手机号：18613090773）</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

    </div>
</div>


</body>


<script>

    (function ($, Vue) {
        'use strict';

        var gconfig = top.gconfig;
        var gutils = top.gutils;
        var gwebapp = top.gwebapp;

        gwebapp.start({requiresAuth: false}).done(function () {
            new Vue(vueOpts());
        });

        function vueOpts() {
            // 属性
            var options = {
                el: "#main-wrapper",
                data: {},
                methods: {}
            };
            return options;
        }

    }(jQuery, Vue));


</script>
</html>