<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <import resource="applicationContext-thrift-exporter.xml"/>

    <context:component-scan base-package="com.duowan.thrift.service.impl"/>

    <bean id="thriftServiceExporter" class="com.duowan.common.thrift.server.exporter.TThreadPoolServerExporter">
        <!-- 否加入到主线程中去, 即和主线程同一个线程进行监听 -->
        <property name="joinToParentThread" value="true"/>
        <!-- 最大工作线程数，默认是 处理器数量 * 5 -->
        <property name="maxWorkerThreads" value="20"/>
        <!-- 最小工作线程数，默认是 5 -->
        <property name="minWorkerThreads" value="5"/>
        <!-- Thrift 服务发布的监听端口 -->
        <property name="port" value="12580"/>
        <!-- 连接和读超时时间设置 -->
        <property name="requestTimeoutMillis" value="3000"/>
    </bean>
</beans>